@model bool?
@if (Model.Value)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Expense Category Deleted Successfully !!</strong> To Check Expense Category you have deleted, Click the button below "back to the Index".
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
else
{
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failed!</strong> You Cann't Delete the Branch because it relatated to Employees.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}