@model bool?
@if (Model.Value)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Expense Category Created Successfully !!</strong> To Check Category you have created, Click the button below "back to the Index".
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Expense Category name already exits!</strong> Operation failed!.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}