@model ExpenseCategory
@{
    ViewData["Title"] = "Update";
}
<div class="container mb-2">
    <div class="row">
        <div class="col-12">
            <h3>Update Expense Category:</h3>
            <div id="placeholder"></div>
            <form method="post" asp-action="Update" asp-controller="ExpenseCategories" asp-route-Id="@Model.ExpenseCategoryId" id="FormAJ"
                  data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#placeholder" data-ajax-success="onSuccess">
                <div class="form-group row mb-2">
                    <label asp-for="CategoryName" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input type="text" asp-for="CategoryName" class="form-control form-control-sm" />
                        <span asp-validation-for="CategoryName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="ExpenseCategories"><i class="fa fa-backward"></i>Back to Index</a>
        </div>
    </div>
</div>
@section styles {
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/Custom Design/main.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}



